.current-weather-title {
  font-weight: bold;
  text-align: center;
}

.current-weather-value {
  font-size: 50px;
}

.forecast-row {
  padding-top: 15px;
}

.forecast-title {
  font-weight: bold;
  text-align: center;
}

.forecast-svg {
  width: 60px;
  height: 60px;
}

.forecast-value {
  font-weight: bold;
  text-align: center;
}

.row-padding {
  padding-top: 15px;
}

.content-padding {
  padding-top: 5px;
}

.menu-header {
  font-weight: bold;
}

.special-weather-note {
  max-width: 260px;
  line-break: anywhere;
  height: 100px;
}

.hko-text {
  font-size: 10px;
  text-align: center;
}
.source-text {
  font-size: 10px;
  text-align: center;
}
