* {
  font-family: Arial, Helvetica, sans-serif;
}

.source-label a {
  color: #ecf0f1;
}

.screen-capture {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 100px 0px;
  width: 100%;
}

.plate-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
}
.base-wrapper {
  background-color: rgb(53, 53, 53);
  color: #ecf0f1;
  border-radius: 1rem;
  width: 300px;
}
.base {
  padding: 10px 30px;
}

.temperature-label {
  font-weight: bold;
}
.temperature-value {
  font-size: 3rem;
}
.humidity-label {
  font-weight: bold;
}
.humidity-value {
  font-size: 3rem;
}

.weather-notice-plate {
  padding: 10px 0px;
}
.weather-notice-label {
  font-weight: bold;
  font-size: 0.9rem;
}
.weather-notice-value {
  padding: 10px 0px;
  font-size: 0.9rem;
}
.left-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row {
  padding-top: 20px;
}

.three-day-forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.forecast-cell {
  margin: 10px;
}

.forecast-weather-svg {
  margin: -10%;
}

.bottom-plate {
  width: 100%;
  padding: 10px 0px;
}

.bottom-label {
  text-align: center;
  font-size: 0.8rem;
}

.source-label {
  margin-top: 5px;
  text-align: center;
  font-size: 0.6rem;
}
